.position {
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
  background-image: url('../../resources/images/medalha.svg');
  background-repeat: no-repeat;
  .row {
    margin: 0;
  }
  &-container {
    height: 16rem;
    padding-top: 86%;
    div {
      margin: 0;
      height: 3.5rem;
    }
  }
  &-number {
    font-family: 'OpenSans-Bold';
    font-size: 3.0rem;
    margin: 0;
  }
  &-text {
    text-align: center;
    font-family: 'OpenSans-Regular';
    font-size: 0.9rem;
    margin: 0;
  }
}

.header {
  padding-left: 0;
  padding-right: 0;
  padding-top: 3.5rem;
  .row {
    margin: 0;
  }
  &-left {
    padding: 0;
    &-welcome {
       font-family: 'OpenSans-Regular';
       font-size: 1.4rem; 
    }
    &-court{
      font-family: 'OpenSans-Semibold';
      font-size: 4rem;
    }
  }
  &-right {
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: flex-end;
    &-text {
      height: auto;
      margin-right: 2.3rem;
      margin-left: 3.7rem;
      &-username {
        font-family: 'OpenSans-Semibold';
        font-size: 2.2rem;
      }
      &-position {
        font-family: 'OpenSans-Regular';
        font-size: 1.6rem;
      }
      div {
        height: auto;
        display: block;
        p {
          margin: 0;
        }
      }
      
    }
    &-photo {
      img {
        height: 7.1rem;
        width: 7.4rem;
        border-radius: 50%;
      }
    }
  }
  &-bottom{
    align-self: flex-end;
    padding: 0;
    padding-top: 3.2rem;
    &-group {
      display: flex;
      align-items: center;
      margin-bottom: 3.3rem;
      &-amount {
        font-family: OpenSans-Semibold;
        font-size: 2.2rem;
        color: #09253B;
        margin-right: 1rem;
        margin-bottom: 0;
      }
      &-item {
        background-color: white;
         p{
           font-family: OpenSans-Regular;
           font-size: 1.6rem;
          margin-right: 1rem;
          margin-bottom: 0;
         }
      }
    }
  }
}

.page-padding-bottom {
  padding-bottom: 10rem;
}