

.header {
  padding-left: 0;
  padding-right: 0;
  padding-top: 1.875rem;
  .row {
    margin: 0;
  }

  // &-bottom {

  //   &-group {

  //     &-amount {
  //       font-family: OpenSans-Semibold;
  //       font-size: 1.375rem;
  //       min-width: 220px !important;
  //       color: #09253b;
  //       margin-right: 1rem;
  //       margin-bottom: 0;
  //     }
  //     &-item {
  //       background-color: white;
  //       p {
  //         margin-right: 1rem;
  //         margin-bottom: 0;
  //       }
  //     }
  //   }
  // }
}

.page-padding-bottom {
  padding-bottom: 10rem;
}
