.header-welcome {
  font-size: 0.875rem;
}

.court-name {
  font-family: "OpenSans-Semibold";
  font-size: 2.5rem;
}

.header-judge-info-username {
  font-family: "OpenSans-Semibold";
  font-size: 1.375rem;
}

.header-judge-info-position {
  margin-bottom: 0;
  text-transform: capitalize;
}

.header-judge-info-photo {
  height: 4.625rem;
  width: 4.625rem;
  border-radius: 100%;
  object-fit: cover;
}
.position {
  text-align: center;
  background: transparent url("../../resources/images/medalha.svg") center
    top no-repeat;
  height: 150px;
  background-size: contain;
  display: flex;
}
.position-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 2rem;
  width: 100%;
}
.position-number {
  font-family: "OpenSans-Bold";
  font-size: 2.5rem;
  margin: 0;
}
.position-text {
  text-align: center;
  font-size: 0.625rem;
  text-transform: uppercase;
  position: relative;
  margin-top: -0.5rem !important;
}