.menu-content {
  border-radius: 0.5rem;
  padding: 1rem !important;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
  border: 1px solid #ddd;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}
.menu-content li {
  padding: 2rem 1rem;
}

.menu-content li object {
  margin-left: auto;
  margin-right: auto;
  filter: invert(64%) sepia(41%) saturate(20%) hue-rotate(328deg)
    brightness(99%) contrast(100%);
  display: block;
}
.menu-content-icon-selected {
  filter: invert(60%) sepia(96%) saturate(486%) hue-rotate(175deg)
    brightness(87%) contrast(91%) !important;
}
