html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font: normal normal 16px/1.5 "OpenSans-Regular";
  background-color: #f6f6f6;
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url("../../resources/fonts/Open_Sans/OpenSans-Bold.ttf");
}

@font-face {
  font-family: "OpenSans-Semibold";
  src: url("../../resources/fonts/Open_Sans/OpenSans-SemiBold.ttf");
}

@font-face {
  
  src: url("../../resources/fonts/Open_Sans/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "OpenSans-Light";
  src: url("../../resources/fonts/Open_Sans/OpenSans-Light.ttf");
}
