#map {
  height: 70%;
  width: 50%;
  margin: auto;
  top: 10%;
}

.gm-svpc, .gmnoprint, .gm-fullscreen-control {
  display: none;
}


/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}