.control {
  height: 10rem;
  background-color: white;
  .row {
    height: 100%;
    margin: 0;
  }
  &-title {
    font-family: 'OpenSans-Bold';
    font-size: 2.4rem;
    display: flex;
    align-items: center;
  }
  &-list {
    .row {
      align-items: center;
    }
    &-item {
      display: flex;
      justify-content: center;
    }
  }
}