.control {
  height: 10rem;
  background-color: white;
  .row {
    height: 100%;
    margin: 0;
  }
  &-title {
    font-family: 'OpenSans-Bold';
    font-size: 2.4rem;
    display: flex;
    align-items: center;
  }
  &-list {
    .row {
      align-items: center;
    }
    &-item {
      display: block;
      &-name {
        font-family: 'OpenSans-Semibold';
        font-size: 1.8rem;
        margin: 0;
      }
      &-controller {
        display: flex;
        padding-top: 1rem;
        &-input{
          width: 80%;
          padding-left: 1rem;
          padding-right: 1rem;
        }
        &-value {
          
          font-size: 1.6rem;
          padding-left: 1rem;
        }
      }
    }
  }
}