.best-times {
  @extend .col-12;
  @extend .col-6;
  @extend .col-lg-4;
  @extend .mb-3;
  @extend .mb-md-0;
  
  &-title {
    @extend .secao-titulo;
  }

  &-item {
    padding: 0.5rem 0;
    @extend .m-0;
    font-size: 0.875rem;
    @extend .text-truncate;
    width: 100%;

    &:nth-of-type(even) {
      background-color: rgba(241, 241, 241, 0.5);
    }
    &:last-of-type {
      border-radius: 0 0 0.5rem 0.5rem;
    }
    &:nth-child(6n) {
      border-top: 1px dotted #b0afaf;
    }
    &.current {
      font-weight: bold;
    }
  }
  &-info {
    padding: 1rem 0;
    font-size: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #b0afaf;
  }

  &-item {
    &-separator {
      border-top: 1px dotted #b0afaf;
      height: 1px;
      margin: 1rem 0;
    }
  }
  &-mapa {
    @extend .row;
    @extend .align-items-stretch;
    .mapa {
      @extend .col-12;
      @extend .col-6;
      @extend .col-lg-8;
      @extend .mb-0;
      #map {
        height: calc(100% - 60px);
        @extend .rounded;
      }
    }
  }
}
