.todos-grupos {
  button {
    @extend .btn;
    @extend .btn-outline-warning;
    width: 130px;
    &[aria-expanded="true"],
    &:focus,
    &:hover {
      @extend .btn-warning;
      @extend .text-white;
    }
  }
}

.filtro {
  &-form {
    @extend .my-3;
    @extend .w-100;
    @extend .card;
    display: flex;
    @extend .justify-content-center;
    @extend .flex-column;
    @extend .flex-md-row;
  }
  &-select,
  &-label {
    @extend .pb-md-0;
    @extend .px-md-3;
    @extend .mb-0;
    @extend .pb-3;
    @extend .px-0;
    @extend .w-100;
  }
  &-label {
    @extend .text-center;
    @extend .text-md-right;
  }
  &-select {
    @extend .mb-3;
    @extend .mb-md-0;
    .select {
      @extend .w-100;
      &2-selection {
        min-height: 32px !important;
      }
    }
  }
  &-button {
    button {
      @extend .btn;
      @extend .btn-outline-secondary;
    }
  }
  &-info {
    @extend .info;
    width: 36px;
    height: 36px;
    @extend .d-flex;
    @extend .align-items-center;
    @extend .justify-content-center;
  }
  &s {
    @extend .d-flex;
    @extend .justify-content-between;
    @extend .flex-grow-1;
  }
}
.collapse {
  &-grupos {
    @extend .w-100;
    padding: 1rem 0 !important;
    .card {
      background: #eee;
      .secao-titulo {
        text-transform: none !important;
      }
    }
  }
}
