.filtro {
  &-form {
    @extend .my-3;
    @extend .w-100;
    @extend .card;
  }
  &s,
  &-info {
    @extend .col-12;
  }

  &s {
    @extend .col-md-11;
    @extend .w-100;
    & > div {
      @extend .row;
    }
  }

  &-label {
    @extend .pt-2;
    @extend .mb-0;
    @extend .text-center;
    @extend .text-md-right;
  }
  &-label,
  &-select,
  &-button {
    @extend .col-12;
    @extend .col-md-6;
    @extend .col-lg;
    @extend .pb-3;
    @extend .pb-md-0;
    select {
      @extend .w-100;
    }
    .select2-selection {
      min-height: 38px;
      &__rendered {
        @extend .d-inline-block;
        font-size: 0.875rem;
        text-transform: capitalize;
        line-height: 1.5;
      }
    }
  }
}
.todos-grupos {
  button {
    @extend .btn;
    @extend .btn-outline-warning;
    @extend .w-100;

    &[aria-expanded="true"],
    &:focus,
    &:hover {
      @extend .btn-warning;
      @extend .text-white;
    }
  }
}


.filtro-info {
  @extend .col-md-1;
  &,
  & div {
    @extend .d-flex;
    @extend .align-items-center;
    @extend .justify-content-center;

  }
  div {
    @extend .info;
    width: 36px;
    height: 36px;
    background: #000;
  }
}