.menu {
  @extend .col-md-2;
  @extend .col-12;
  @extend .d-flex;
  @extend .justify-content-center;
  @extend .align-items-start;
  ul {
    @extend .mx-auto;
    @extend .d-flex;
    @extend .d-md-block;
    @extend .row;
    @extend .mx-auto;
    @extend .list-unstyled;
    @extend .d-inline-block;
    @extend .p-0;
    border-radius: 0.5rem;

    border: 1px solid #ddd;
    background-color: white;
    li {
      @extend .col-3;
      @extend .col-md-12;
      @extend .py-4;
      opacity: 0.5;
@extend .text-center;
      &.active {
        opacity: 1;

        @extend .text-info;
      }
      &:hover {
        opacity: 0.8;
      }
    
    }
  }
  &-content-icon-selected {
    filter: invert(60%) sepia(96%) saturate(486%) hue-rotate(175deg)
      brightness(87%) contrast(91%) !important;
  }
}
