.header {
  &-left {
    &-group {
      display: flex;
    }
  }
  &-right {
    .row {
      height: 40%;
    }
    &-text {
      display: flex;
      align-items: center;
      height: auto;
      div {
        height: auto;
        display: block;
        p {
        margin: 0;
      }
      }
      
    }
    &-photo {
      img {
        padding: 0.4rem;
        border-radius: 50%;
      }
    }
  }
}