.statistics{
  height: 32.2rem;
  padding: 0;
  display: flex;
  align-items: center;
  .row {
    margin: 0;
    width: 100%;
    div {
      height: 24.4rem;
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }
}
