.best-times {
  padding: 0;
  height: auto;
}
.best-times-title {
    font-weight: 600;
  font-size: 1.5rem;
  padding: 1rem;
}
.best-times > div {
  list-style: none;
}
.best-times ol li {
  padding: 0.5rem 1rem;
  margin: 0;
  font-size: 0.875rem;
  width: 100%;
}
.best-times ol li:nth-of-type(even) {
  background-color: rgba(241, 241, 241, 0.5);
}
.best-times ol li:last-of-type {
  border-radius: 0 0 0.5rem 0.5rem;
}
.best-times ol li:nth-child(6n) {
  border-top: 1px dotted #b0afaf;
}
.best-times-info {
  padding: 1rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #b0afaf;
}