.chart {
  height: auto;
  padding: 1rem;
  &-title {
    font-family: "OpenSans-Bold";
    font-size: 1.5rem;
    padding: 0 1rem;
    text-transform: uppercase;
    margin-bottom: 3rem;
  }
  .row {
    height: 100%;
    #chart {
      height: auto;
      padding: 1rem;
    }
  }
}
