.map {
  .row {
    height: 100%;
  }
  &-title {
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    p {
    
      margin: 0;
    }
  }
}

#map {
  min-height: 50rem;
  width: 100%;
    border-radius: 0.5rem;;
}

.gm-svpc, .gmnoprint, .gm-fullscreen-control {
  display: none;
}
