.map {
  margin: 0;
  padding-right: 0;
  .row {
    height: 100%;
  }
  &-title {
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    p {
      font-family: 'OpenSans-Bold';
      font-size: 2.4rem;
      margin: 0;
    }
  }
}

#map {
  height: 100%;
  width: 100%;
  border-radius: .7rem;
}

.gm-svpc, .gmnoprint, .gm-fullscreen-control {
  display: none;
}