.menu {
  &-content {
    background-color: white;
    height: 65rem;
    padding: 1rem;
    object {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      background-repeat: no-repeat;
      background-position: center;
      width: 100%;
      filter: invert(64%) sepia(41%) saturate(20%) hue-rotate(328deg) brightness(99%) contrast(100%);
    }
    &-icon-selected {
      filter: invert(60%) sepia(96%) saturate(486%) hue-rotate(175deg) brightness(87%) contrast(91%) !important;
    }
  }
}