.rank {
  display: block;
  height: auto;
  padding: 1.25rem 0;
}
.rank-worst,
.rank-best {
  padding-top: 2rem;
}
.rank-worst {
  /* height: 50%; */

  margin: 0;
}
.rank-best {
  margin: 0;
  margin-top: 3rem;
  /* padding-top: 3rem; */
}
.rank-movements {
  /* display: block; */
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.rank-movements-title {
  font-family: "OpenSans-Bold";
  font-size: 1.5rem;
  padding: 0 1rem;
}
.rank-movements-content {
  /* height: 15rem; */
  width: 100%;
  /* margin-top: 8.5rem; */
}
.rank-movements-content .row {
  width: 100%;
  margin: 0;
}
.rank-movements-content-item {
  display: block;
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 0;
}
.rank-movements-content-item-name {
  display: inline-block;
  margin: 0;
  font-family: "OpenSans-SemiBold";
  background: #fff;
  font-size: 1.125rem;
  z-index: 2;
  position: relative;
  min-height: 2.875rem;
}
.rank-movements-content-item-transaction {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rank-movements-content-item-transaction-text {
  position: absolute;
  left: 0;
  top: 40%;
  width: 50%;
  text-align: right;
  padding-right: 0.5rem;
}
.rank-movements-content-item-transaction-text p {
  margin: 0;
}
.rank-movements-content-item-transaction-text-number {
  font-size: 1.125rem;
}
.rank-movements-content-item-transaction-text-time {
  font-size: 0.875rem;
}
.rank-movements-content-item-transaction-arrow img {
  height: 11rem;
}
.rank-movements-coments {
  text-align: center;
  padding-top: 1.5rem;
  display: flex;
  justify-content: center;
}
.rank-movements-coments-box {
  display: flex;
  align-items: center;
  background-color: #cce5ff;
    border-radius: 0.5rem;;
  justify-content: center;
  padding: 1rem 2rem;
  /* height: 4rem; */
  /* width: 48%; */
}
.rank-movements-coments-box p {
  /* font-size: 1.5rem; */
  font-family: "OpenSans-SemiBold";
  margin: 0;
}
.rank-table {
  padding-left: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.rank-table-tabs {
  display: flex;
}
.rank-table-tabs-item {
  padding: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 0.875rem;
  color: #6c6c6b;
}
.rank-table-tabs-item-selected {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border: solid 1px #b0afaf;
  border-bottom: 0;
}
.rank-table-title {
  text-align: center;
  background-color: #dcdcdc;
  border: solid 1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0.35rem;
  border-color: #b0afaf;
}
.rank-table-title table {
  width: 100%;
  font-family: "OpenSans-SemiBold";
}
.rank-table-title table th {
  font-size: 1.125rem;
}
.rank-table-title table tr {
  /* height: 3.5rem; */
}
.rank-table-title-index {
  width: 10%;
}
.rank-table-title-name {
  text-align: left;
  width: 30%;
}
.rank-table-title-duration {
  width: 15%;
}
.rank-table-title-comments {
  text-align: left;
  width: 45%;
}
.rank-table-content {
  text-align: center;
  border: solid 1px;
  border-bottom-left-radius: 0.35rem;
  border-bottom-right-radius: 0.35rem;
  border-color: #b0afaf;
}
.rank-table-content table {
  width: 100%;
}
.rank-table-content table tr {
  /* height: 3.5rem; */
}
.rank-table-content-odd {
  background-color: #ffffff;
}
.rank-table-content-even {
  background-color: #f6f6f6;
}
.rank-table-content-index {
  width: 10%;
  text-align: center;
  font-size: 1rem;
}
.rank-table-content-name {
  text-align: left;
  width: 30%;
}
.rank-table-content-duration {
  width: 15%;
  text-align: center;
}
.rank-table-content-comments {
  text-align: left;
  width: 45%;
}

/*# sourceMappingURL=rank.css.map */
