.statistics {
  // height: 23rem;
  padding: 3rem 0;
  align-items: stretch;
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  & > div {
    // height: 19rem;
    padding: 0;
    padding-right: 1rem;
    background-color: transparent;
    // div {
    //   background-color: white;
    // }
  }
  &-len5 {
    // width: 24%;
    div {
      color: #721c24;
      background-color: #f8d7da;
      border-color: #f5c6cb;
    }
  }
  &-len3 {
    // width: 22%;
  }
  &-len2 {
    // width: 20%;
  }
  &-len1 {
    // width: 14%;
    padding-right: 0 !important;
  }
  &-card {
    .card {
      padding: 2rem 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &-title {
      font-family: "OpenSans-Bold";
      font-size: 1rem;
      height: auto !important;
      text-transform: uppercase;
    }
    &-value {
      font-family: "OpenSans-Bold";
      font-size: 2.7rrem;
      // margin-top: 3rem;
    }
    &-info {
      font-family: "OpenSans-Light";
      font-size: 0.75rem;
      // margin-top: 1rem;
    }
  }
}
