.footer {
  margin-top: 7rem;
  &-comments {
    &-title {
      font-weight: 600;
      font-size: 2.4rem;
      margin-bottom: 0.5rem;
    }
    &-content {
      font-size: 2rem;
      color: #f6f6f6;
      background-color: #09253b;
      height: 91%;
      padding: 2rem 1.3rem;
    }
  }
  &-table {
    &-title{
      font-weight: 600;
      font-size: 2.4rem;
      margin-bottom: 0.5rem;
    }
  }
}

